@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.titulo-principal {
    font-size: 32px;
    width: 100%;
}

.titulo-principal span {
    color: var(--verde);
}

.botoes {
    display: block;
    width: 100%;
}

.botao {
    background-color: var(--botao-inativo);
    color: var(--branco);
    padding: 1em;
    width: 100%;
    border: none;
    border-bottom: 4px solid var(--botao-ativo);
    cursor: pointer;
}

.botao.ativo {
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}

.abas-textos {
    background-color: var(--texto-fundo);
    padding: 40px;
    width: 100%;
}

.aba-conteudo {
    display: none;
}

.aba-conteudo.ativo {
    display: block;
}

.contador {
    display: flex;
    justify-content: center;
}

.contador-digito {
    margin: 0 10px;
    text-align: center;
}

.contador-digito-numero {
    font-size: 40px;
}